.bodycontainer {
  position: absolute;
  z-index: 1;
  text-align: center;
}

.addicon {
  width: 150px;
  margin-top: 150px;
}
.resultdemonstrator {
  background-color: rgb(255, 255, 255);
  color: rgb(117, 117, 117);
  margin-top: 10px;
  border-radius: 20px;
  border: solid 2px rgb(204, 204, 204);
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.teamselector {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  border: none;
  margin-bottom: 30px;
  color: gray;
  padding-left: 15px;
}
.headerimage {
  width: 100%;
  position: absolute;
}

.resultcontainer {
  width: 400px;
  height: 500px;
  margin: 90px;
  width: 300px;
  background-color: rgba(223, 223, 223, 0.5);
  padding: 20px;
  border-radius: 20px;
  overflow: scroll;
}

.selectorsContainer {
  margin: 20px;
  width: 30%;
  padding: 10px;
  background-color: rgb(0, 95, 119);
}
.resetContainer {
  padding: 10px;
  width: 400px;
  height: 500px;
  margin: 20px;
  width: 300px;
  background-color: rgb(255, 255, 255);
}
.headercontainer {
  display: flex;
  color: white;
  background-size: contain;
  position: absolute;
  width: 100%;
}
.menucontainer {
  position: absolute;
  color: white;
  text-align: right;
  z-index: 20;
  width: 100%;
}

.menucontainer div {
  position: absolute;
  right: 10%;
  z-index: 20;
}
.menubg {
  z-index: 10;
}

.ball {
  width: 41%;
  position: absolute;
  z-index: 5;
}

.slogan {
  z-index: 10;
  font-size: 89px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 15%;
  margin-left: 35%;
}

@media screen and (max-width: 1300px) {
  .headerimage {
    position: absolute;
    width: 100px;
    display: none;
  }
}
