.bodycontainer {
  z-index: 1;
  text-align: center;
  width: 100%;
}

.addicon {
  width: 150px;
  margin-top: 150px;
}
.resultdemonstrator {
  background-color: #f5f5f5;
  color: rgb(117, 117, 117);
  margin-top: 10px;
  display: flex;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.resulttable {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  text-align: center;
  border-top: solid 10px white;
}
.resulttable td {
  height: 40px;
  background-color: #f5f5f5;
  width: 20%;
  text-align: left;
  padding-left: 5px;
}

.tabviewtable {
  width: 50%;
}
.tabviewtable th {
  background-color: #6c9074;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 50px;
}

.resultdemonstrator div {
  margin-left: 2%;
  margin-right: 5%;
}
.teamselector {
  right: 0;
  border: solid 1px rgb(190, 190, 190);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 30px;
  border-radius: 20px;
  width: 60%;
  margin-right: 30px;
  color: gray;
  padding-left: 25px;
  padding-right: 25px;
}

.resultteamselector {
  right: 0;
  border: solid 1px rgb(190, 190, 190);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 30px;
  border-radius: 20px;
  margin-right: 30px;
  margin-bottom: 5em;
  color: gray;
  padding-left: 25px;
  padding-right: 25px;
}

.headerimage {
  width: 100%;
  position: absolute;
}

.resultcontainer {
  width: 90%;
  height: 500px;
  margin: 90px;
  padding: 20px;
  border-radius: 20px;
}

.selectorsContainer {
  justify-content: center;
  align-content: center;
  text-align: center;
  text-align: left;
}
.selectorsContainer a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(88, 119, 88);
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
}

.inputContainer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  padding: 50px;
  background-color: rgb(248, 248, 248, 0.4);
  border-radius: 20px;
  top: 10em;
  left: 27%;
  text-align: left;
  z-index: +20;
}
.inputContainer input {
  margin-right: 3em;
  border: solid 1px gray;
  padding: 5px;
  border-radius: 10px;
}
.inputtable {
  width: 50%;
  color: white;
}
.inputtable td {
  padding: 10px;
  align-items: center;
}

.resetContainer {
  margin-top: 20px;
  width: 300px;
}
.headercontainer {
  display: flex;
  color: white;
  background-size: contain;

  width: 100%;
}
.menucontainer {
  position: absolute;
  color: white;
  text-align: right;
  z-index: 20;
  width: 100%;
}

.menucontainer div {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 25px;
  position: absolute;
  right: 8%;
  z-index: 20;
}
.menucontainer div a {
  margin-right: 60px;
}
.menucontainer div a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.menubg {
  z-index: 10;
}

.ball {
  width: 41%;
  position: absolute;
  z-index: 5;
}

.slogan {
  z-index: 10;
  font-size: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 15%;
  margin-left: 35%;
}

.datepicker {
  width: 18em;

  border-radius: 10px;
  font-size: 12px;
}

/* @media screen and (max-width: 1300px) {
  .headerimage {
  }
} */
